<!--Con ion-header creamos nuestra cabecera, en la cual vamos a meter una toolbar  que contendrá nuestos distintos segmentos. Ëstos median
ngfor iremos pasando al label-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment scrollable [value] = "tipoChart[0]" (ionChange)="cambiarChart($event)" >
    <ion-segment-button *ngFor="let item of tipoChart" [value]= "item">
      <ion-label>{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
 <!--Utilizamos la etiqueta grid para organizar nuestra página y llamaremos a nuestros componentes mediante la etiqueta app a la que le pasaremos los atributos
necesarios. Por otro lado , con ngif establece que se mostrará cuando se cumpla su condición-->
  <ion-grid *ngIf="tipoDeChartSeleccionado == 'bar-chart'">
    <ion-row>
      <ion-col size="6">
        <app-bar-chart [nombresCategorias]="categorias" [borderColorCategorias]="borderColorCat" [backgroundColorCategorias]="backgroundColorCat"></app-bar-chart>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12">
            <app-line-chart ></app-line-chart>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <app-pie-chart [backgroundColorCategorias]="backgroundColorCat" [borderColorCategorias]="borderColorCat"></app-pie-chart>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <app-line-chart *ngIf="tipoDeChartSeleccionado == 'line-chart'"></app-line-chart>
  
  <app-pie-chart *ngIf="tipoDeChartSeleccionado == 'pie-chart'" [backgroundColorCategorias]="backgroundColorCat"[borderColorCategorias]="borderColorCat"></app-pie-chart>
</ion-content>
